body{
    background:linear-gradient(red 20%, blue 45%);
}
h1{
    text-align: center;
    color: darkblue;
}
td{
    text-align: center;
}
.head{
    background-color: springgreen;
}
td,th{
    border-radius: 5px;
    padding: 15px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
table{
    margin: auto;
    color: aliceblue;
    background-position: center;
    background-size: cover;
}
.gt{background-color: rgb(17, 11, 58);
}
.csk{
   background-color: yellow;
   color: black;
}
.lsg{background-color: rgb(17, 17, 149);}
.mi{background-color: rgb(33, 33, 221);}
.rr{background-color: rgb(243, 73, 102);}
.rcb{background-color: rgb(15, 225, 15);}
.kkr{background-color: purple;}
.pb{background-color: rgb(220, 32, 32);}
.dc{background-color: rgb(110, 11, 11);}
.srh{background-color: orangered;}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
p{
    text-indent: 55px;
    color: aliceblue;
}
footer{
    padding-left: 25px;
}
h2{
    color: darkgrey;
    box-shadow: 2px 2px 2px black;
    
}
.win{
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    background-color: yellow;
    border-radius: 30px;
}
.win1{
    height: 100px;
    width: 100px;
}